<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mealTracker.mapper.FoodMasterMapper">

    <select id="findByName" resultType="com.example.mealTracker.domain.FoodMaster">
        SELECT
        id,
        name,
        protein,
        kcal,
        unit,
        confidence
        FROM food_master
        WHERE name = #{name};
    </select>

    <select id="findByNames" resultType="com.example.mealTracker.domain.FoodMaster">
        SELECT id, name, protein, kcal
        FROM food_master
        WHERE name IN
        <foreach collection="names" item="n" open="(" separator="," close=")">
            #{n}
        </foreach>
    </select>

    <select id="findAllNames" resultType="com.example.mealTracker.domain.FoodMaster">
        SELECT id, name
        FROM food_master
    </select>



</mapper>