<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mealTracker.mapper.MealItemMapper">

    <insert id="insertItem" parameterType="com.example.mealTracker.domain.MealItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO meal_item (user_id, name, count, calories, protein, assumption, meal_date)
        VALUES (#{userId}, #{name}, #{count}, #{calories}, #{protein}, #{assumption}, #{mealDate})
    </insert>

    <select id="findItemsByUser" resultType="com.example.mealTracker.domain.MealItem">
        SELECT id,
            user_id as userId,
            name,
            `count` as count,
            calories,
            protein,
            assumption,
            created_at as createdAt,
            meal_date as mealDate
        FROM meal_item
        WHERE user_id = #{userId}
        AND meal_date = #{now}
        ORDER BY id ASC
    </select>

    <select id="findSummaryByUser" resultType="com.example.mealTracker.domain.TodaySummary">
        SELECT
        COALESCE(SUM(calories), 0) AS total_calories,
        COALESCE(SUM(protein), 0)  AS total_protein
        FROM meal_item
        WHERE user_id = #{userId}
    </select>

    <delete id="deleteItemsBySessionId">
        DELETE FROM meal_item WHERE user_id = #{userId}
    </delete>

</mapper>
